@import "mixins";

html, body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: #222222;
}
h1, .h1{
  @include typography(31px);
}
h5, .h5{
  @include typography(16px);
}
h6, .h6{
  @include typography(15px);
}
p, .p{
  @include typography(14px);
}
span, .span{
  font-size: 13px;
}
.container{
  @include p-x(22.5rem);
}
img{
  display: block;
}
a{
  text-decoration: none;
  color: #222222;
  transition-duration: 300ms;
}