@font-face {
    font-family: 'Open Sans';
    src: url('Open_Sans/OpenSans-VariableFont_wdth,wght.ttf');
    src: local('Open_Sans/OpenSans-VariableFont_wdth,wght'),
    url('Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf');
    src: local('Open_Sans/OpenSans-Italic-VariableFont_wdth,wght'),
    url('Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Formular';
    src: url('Formular/Formular-Medium.ttf');
    src: local('Formular/Formular-Medium'),
    url('Formular/Formular-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
}
