@import "defaults";
@import "fonts";
@import "mixins";
$cont_paddings: 26rem;
$border-color: #A7A7A7;
$grey-on-white: #F1F1F1;
$grey-text: #767676;
$border-full: 9999px;

%flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
}

%for_ul{
  padding-left: 0;
  margin: 0;
  list-style: none;
}

header{
  padding-top: 2.125rem;
  section{
    padding-bottom: 0.5rem;
    @extend %flex-row;
    article{
      width: 33.3333%;
      @extend %flex-row;
      div{
        @extend %flex-row;
      }
    }
    article:last-child{
      justify-content: end;
      div{
        *:first-child{
          padding-right: 0.275rem;
        }
        a:hover{
          @include transform(scale(1.1))
        }
      }
      div:first-child{
        padding-right: 2.5rem;
      }
    }
  }
  nav{
    ul{
      padding-left: 0;
      margin: 0;
      list-style: none;
      @extend %flex-row;
      justify-content: space-between;
      @include p-y(1.125rem);
      li{
        a:hover{
          background-color: $grey-on-white;
          border-radius: $border-full;
          @include p-y(0.125rem);
          @include p-x(0.625rem);
        }
      }
    }
  }
}

#local{
  padding-left: 1rem;
  padding-right: 0.5rem;
}

#search{
  display: block;
  div{
    background-color: $grey-on-white;
    border-radius: $border-full;
    label{
      width: 100%;
      input {
        border-bottom-right-radius: $border-full;
        border-top-right-radius: $border-full;
        background-color: $grey-on-white;
        border: 0;
        width: 100%;
        @include p-y(0.8rem)
      }
      input::placeholder{
        text-align: center;
        font-size: 14px;
        color: $grey-text;
      }
    }
    a{
      display: block;
      padding-left: 1rem;
    }
  }
}

main{
  background-color: $grey-on-white;
  section:first-child{
    @include p-y(2rem);
    nav{
      ul{
        @extend %for_ul;
        @extend %flex-row;
        li{
          padding-left: 1rem;
          padding-right: 1.4rem;
          color: $grey-text;
          a{
            color: $grey-text;
          }
          a:hover{
            background-color: $grey-on-white;
            border-radius: $border-full;
            @include p-y(0.125rem);
            @include p-x(0.625rem);
          }
        }
        li::marker{
          content: url("../images/marker_bread.svg");
        }
        li:first-child{
          padding-left: 0;
        }
        li:first-child::marker{
          content: none;
        }
      }
    }
  }
}