@mixin p-y($size){
  padding-top: $size;
  padding-bottom: $size;
}

@mixin p-x($size){
  padding-left: $size;
  padding-right: $size;
}

@mixin typography($size){
  font-size: $size;
  display: block;
  margin: 0;
}

@mixin transform($property) {
  -webkit-transform: $property;
  -ms-transform: $property;
  transform: $property;
}